<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./styles/styles.css">
	<style>
		header {
			background-image: url("{{{background}}}");
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			max-height: 450px;
		}
	</style>
</head>
<body>
	<div class="container">
	<header id="masthead"  styles="{{background}}">
		<img id="monster" src="{{monster}}" class="rounded mx-auto d-block" alt="{{monster}}">
	</header>
	<div id="main-container" class="container">
		<section class="main-section">
			<p class="rules">{{message}}</p>
			<div>
				{{#if type}}
				{{#each choices}}
				<button type="button" class="btn btn-success btn-lg btn-block">{{this}}</button>
				{{/each}}
				{{/if}}

				
			</div>
		</section>
	</div>
</div>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</body>
</html>