	<style>
		header {
			background-image: url("{{{background}}}");
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			max-height: 450px;
		}
	</style>
	
	<div class="container">
		<header id="masthead">
            {{#if monster}}
			<img id="monster" src="{{monster}}" class="rounded mx-auto d-block" alt="{{monster}}">
            {{/if}}
			{{#unless monster}}
			<div height="400" width="400">.</br></br></br></br></br></br></br></br></br></br></br></br></br>.</div>
			{{/unless}}
		</header>
		<div id="main-container" class="container">
			<section class="main-section">
				<p class="message" name="{{name}}">{{message}}</p>
				<div>
					{{#if choices}}
					{{#each choices}}
					<button type="button" class="choices btn btn-success btn-lg btn-block">{{this}}</button>
					{{/each}}
					{{/if}}

					{{#unless choices}}
					<div class="form-group form-check">
						<input class="inputText form-control form-control-lg" type="text" placeholder="">
						<button class="inputBtn btn btn-primary">Submit</button>
					</div>
					{{/unless}}
				</div>
			</section>
		</div>
	</div>